# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache


# NativeScript
android/app/gradle-helpers
android/app/src/debug/java/com/tns
android/app/src/debug/res/layout/error_activity.xml
android/app/src/debug/res/layout/exception_tab.xml
android/app/src/debug/res/layout/logcat_tab.xml
android/app/src/main/assets/internal
android/app/src/main/assets/metadata
android/app/src/main/java/com/tns
android/build-tools
ios/App/internal
ios/App/NativeScript*
ios/App/TNSWidgets*
ios/App/.build*
src/nativescript/node_modules
src/nativescript/package-lock.json
      